.blogall{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainblog{
    width: 95%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
} 


.blogallblogall h3{
    font-size: 30px;
    margin-top: 30px;
}

.containersblogall{
    width: 400px;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
.imageblogall{
    height: 35vh;
    background-image: url(../asset/image/img1.webp);
    background-repeat: no-repeat;
}

.imagetwo2blogall{
    height: 35vh;
    background-image: url(../asset/image/img2.webp);
    background-repeat: no-repeat;
    /* background: #000; */
}

.imagethree3blogall{
    height: 35vh;
    background-image: url(../asset/image/img3.webp);
    background-repeat: no-repeat;
}

.ageblogall{
    height: 35vh;
}

.ageblogall:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.205), rgba(0, 0, 128, 0.548));
    height: 35vh;
    cursor: pointer;
}

 .imageblogall img {
    width: 400px;
    height: 35vh;
    /* background-color: navy; */
} 

imgblogall:hover{
    cursor: pointer;
    /* background-color: navy; */
    /* height: 35vh; */
}

.containersblogall h3{
    width: 375px;
    line-height: 35px;
} 

.containersblogall h3:hover{
    color: navy;
    cursor: pointer;
}

.containersblogall p{
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}
.containersblogall p:hover{
     color:  navy

}

.lineblogall{
    width: 400px;
    height: 30px;
    border-bottom: 1px rgba(128, 128, 128, 0.189) dashed;
}

.moreblogall{
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}




.containerblogall a{
    text-decoration: none;
    color: #000;
}

@media(max-width : 900px){
    .blogall{
        width: 85%;
        height: max-content;
        align-items: center;
        flex-direction: column;
    }
    .mainblog{
        width: 100%;
        height: max-content;
        margin-left: 20%;
        flex-wrap: wrap;
        margin-top: 30px;
    } 
    .containersblogall{
        width: 100%;
        height: 78vh;
        display: flex;
        flex-direction: column;
    }
    
     .imageblogall img {
        width: 100%;
        height: 15vh;
    } 
    
    
    
    .containersblogall h3{
        width: 90%;
        line-height: 35px;
    } 
    
    .containersblogall h3:hover{
        color: navy;
        cursor: pointer;
    }

    .containersblogall p{
        margin-top: 10px;
        font-size: 14px;
        color: #000;
    }
    
    .containersblogall p:hover{
        color: navy;    
    }
    
    .lineblogall{
        width: 400px;
        height: 30px;
        border-bottom: 1px rgba(128, 128, 128, 0.189) dashed;
    }
    
    .moreblogall{
        margin-top: 20px;
        font-size: 16px;
        color: #000;
        margin-bottom: 50px;

    }
    
    .containerblogall a{
        text-decoration: none;
        color: #000;
    }
}