@media (max-width: 900px) {
  .HeaderNav {
    display: none;
  }

  .MyMenu {
    display: block;
    cursor: pointer;
    align-items: center;
  }

  .Icons {
    font-size: 18px;
    font-weight: bold;
    /* line-height: 21.18px; */
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }

  

  .HomeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.H1 {
    padding-top: 25px;
}

.H1 h1{
    font-size: 49.6843px;
    width: 90%;
    font-weight: 700;
    line-height: 55.6465px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.HomeContainer p {
    width:  90%;
    text-align: center;
}

}
