/* *{
    padding: 0%;
    margin: 0%;
} */
.Payment_main {
    width: 100%;
    display: flex;
    background-color: #0B152D;
    height: 80vh;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.futers{
    width: 100%;
    height: max-content;
}

.Pay_image {
margin-top: 5px;
}


.Inputspace {
    width: 40%;
    margin: 0px 5px;
}

.Payment_cont {
    width: 100%;
    height: 100vh;
    background-color: #0B152D;
    /* flex-direction: column; */
    background-image: url(../image/amazon1.png);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-repeat: no-repeat;
    background-position: top;
    background-position: bottom;
    background-position: 0%; 
}

.Payment_header {
    width: 100%;
    height: 125vh;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* background-color: #1D7E1A; */
}

.PayImg {
    width: 18%;
    height: 12%;
    margin: 30px 0px;
    object-fit: contain;
}

.PayImg img {
    width: 100%;
    height: 100%;
}

.PaymentText {
width: 65%;
display: flex;
justify-content: space-between;
height: 25%;
}

.Pay_art {
    width: 33%;
    height: 70%;
    object-fit: cover;
}

.Pay_art img {
    width: 100%;
    height: 100%;
}

.Paytext {
    width: 53%;
}

.Paytext h1 {
    color: #FFEE04;
    font-size: 27px;
    margin: 0;
}

.Paytext p {
    color: white;
    font-size: 18px;
}


.pictext {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    margin-top: 10%;
}
.Payment_h3{
    font-size: 35px;
    color: #FFEE04;

}
.Payment_picx{
    width: 330px;
}
.textparagraph{
    font-size: 25px;
    margin-top: 1%;
    color: #FAFAFA;
}
.Payment_text {
    width: 60%;
}
.Payment_form{
    width: 75%;
      box-shadow: 5px 8px 15px 2px rgba(0, 0, 0, 0.134);
    background-color: white;
    /* background-color: red; */
    margin-top: -17%;
    padding-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: max-content;
    padding-bottom: 10%;
}
.formheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}
.formwhite{
    width: 100%;
    background-color: #F2F9FF;
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.Payment_line{
    width: 95%;
    margin-top: 2%;
    height: 5px;
    background-color: blue;
}
.contact{
    /* background-color: grey; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.formcont{
    width: 95%;
    /* background-color: #0B152D; */
}
.inputcont{
    height: 50px;
    width: 97%;
    margin-top: 1%;
    outline: none;
    padding-left:  1%;
    padding-right: 1%;
}
.twoinput{
    /* padding-right: 1%; */
    margin-top: 1%;
    /* padding-left: 1%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formfootpopixcdcd{
    width: 55%;
    margin-left: 20%;
    margin-top: 10px;
}
.inputconts{
    /* padding-left:  1%; */
    /* padding-right: 1%; */
    outline: none;
    /* border: 1p; */
    height: 50px;
    width: 48.9%;
    border-radius: 5px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.formparagram{
    margin-top: 1%;
}
.three {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.Payment_two {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 100%;
}
.inputconta{ 
    padding-left:  1%;
    padding-right: 1%;
    outline: none;
    border: none;
    height: 50px;
    width: 47%;
    border-radius: 5px;
}
.inputcontainer{
    padding-left:  1%;
    padding-right: 1%;
    outline: none;
    border: none;
    height: 50px;
    width: 30%;
    border-radius: 5px;

}
.summary {
    width: 100%;
    /* background-color: blue; */
    height: fit-content;
    padding-top: 2%;
    margin-top: 2%;
}
.btn {
    outline: none;
}
.verify {
    width: 100%;
    /* background-color: aliceblue; */
    margin-top: 5%;
    border-bottom: 2px solid blue;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 3%; */
}
.verifyhidden {
    width: 100%;
    /* background-color: aliceblue; */
    margin-top: 5%;
    border-bottom: 2px solid blue;
    display: flex;
    justify-content: space-between;

}
.verifytext{
    /* background-color: green; */
  display: flex;
  justify-content:space-between;
  width: 50%;
}
.verifytexthidden {
    display: flex;
  justify-content:space-between;
  width: 50%;

}
.packagehidden {
    margin-left: 2%;

}
.subtotal{
    display: flex;
    border-bottom: 2px solid blue;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.subtotalhidden{
    display: flex;
    border-bottom: 2px solid blue;
    justify-content: space-between;
    height: 50px;
    align-items: center;

}
.total{
    display: flex;height: 40px;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid blue; */
}
.totalhidden{
    display: flex;height: 40px;
    align-items: center;
    justify-content: space-between;

}
.dash {
    width: 100%;
    height: fit-content;
    border: 3px #E8E8E8 dashed;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.subdash {
    width: 100%;
}

.all {
    margin-top: 1%;
    font-size: 14px;
}
.info {
    line-height: 23px;
    margin-bottom: 1%;
}
.dashheader {
    background-color: #FFEDE4;
    height: 60px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.articles {
    width: 100%;
    display: flex;
    /* background-color: rgb(43, 39, 39); */
    justify-content: center;
}
.aticlescont {
    width: 98%;
    /* background-color: gainsboro; */
    display: flex;
    justify-content: space-between;

}
.aticlesconttext{
    width: 80%;

}
.order {
    height: 59px;
    width: 100%;
    margin-top: 8%;
}
h4 {
    font-size: 20px;
}
.summary {
    /* background-color: rebeccapurple; */
    margin-top: 5%;
}
.dash {
    margin-top: 5%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pg{
    line-height: 20px;
    margin-top: 3%;
}
.ul {
    line-height: 35px;
}
.ftsub{
    margin-left: 0.5%;
}
.pay {
    margin-left: 1%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.foot{
    /* background-color: red;    */
    margin-top: 5%;
    height: 20%;
    /* background-color: purple; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.ft1{
    width: 96%;
    /* background-color: red; */
    display: flex;
    height: 50px;
    
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid grey ;
    /* background-color: red; */

}
.fte {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border: 1px solid grey ;
    background-color: #FAFAFA;
    /* background-color: aquamarine; */

}
.cardz{
    width: 42.2%;
    height: 45px;
    padding-left: 2%;
    padding-right: 1%;
    /* background-color: rebeccapurple; */
    /* background-color: #FFFFFF; */
    /* background-color: yellowgreen; */
    border: 1px solid gray;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: fit-content; */
}
.card1{
    /* background-color: gold; */
    width: 60%;
    display: flex;
}
.card2 {
    /* background-color: yellow; */
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.mmm,.cvv {
    width: 40%;
    /* background-color: red; */
    padding-left: 0%;
    border: none;
    outline: none;
}
.logo {
    width: 30px;
}
.mm {
    /* width: 50%; */
    border: none;
    outline: none;
}
.mast{
    /* background-color: red; */
    width: 90%;
    margin-left: 2%;
    border: none;
    outline: none;
}
.ft3 {
    width: 96%;
    /* background-color: red;    */
    display: flex;
    height: 60px;
    display: flex;
    /* align-items: center; */
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid grey ;

}
.radiopg{
    /* background-color: rebeccapurple; */
    margin-left: 1%;
}
.ftcont{
    display: flex;
    width: 70%;
    align-items: center;
}

.pg3{
    display: flex;
    /* font-size: 15px; */
    height: 20px;
    align-items: center;
}
.ft5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.get1,.get2,.get3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place{
    width: 50%;
    height: 60px;
    color: white;
    background-color: #1D7E1A;
    border-radius: 40px;
    font-size: 18px;
    outline: none;
    border: none;
}
.place:hover{
    background-color: #6DAD6B;
}
.ft4 {
    margin-top: 5%;
    line-height: 18px;
    padding-right: 2%;
    padding-left: 3%;
    /* width: 100%; */
}
.very,.gen,.pro {
    margin-top: 5%;
    /* font-family: Poppins; */
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    
}
.ft5{
    margin-top: 5%;
}
.ft4pg{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pg3{
    font-size: 17px;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.agree{
    margin-left: 1%;
    font-size: 15px;
}
.formfoot {
    font-size: 17px;
    /* background-color: #F2F9FF; */
    /* background-color: rebeccapurple; */
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.footpg {
    width: 75%;
    /* background-color: white; */
    text-align: center;

}
.formfootpg{
    margin-top: 3%;
    line-height:28px;
    color: grey;
    font-size: 20px;
    height: max-content;
    padding-bottom: 5%;
}
.formfootpou{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.formfootpo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.futers{
    background-color: #0B152D;
    display: flex;
    line-height: 40px;
    color: #FAFAFA;
}
.good {
    font-size: 20px;
    font-weight: bold;
}
.mainbg{
    background-color: red;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px){
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .cont {
        width: 100%;
        height: fit-content;
        background-repeat: no-repeat;
    }
    .picx{
        width: 70%;
    }
    .header{
        height: 35%;
        padding-top: 5%;
        /* background-color: red; */
        
    }
    .Payment_main {
    padding-bottom: 14%;

    }
    .inputcont{
        width: 94%;
        
    }
    .inputconts{
        width: 50%;
        /* background-color: wheat; */
    }
    .inputconta{
        width: 44%;
        /* background-color: yellowgreen; */
    }
    .twoinput,.Payment_two{
        /* background-color: yellow; */
        width: 97%;
    }
    .three {
        /* background-color: violet; */
        width: 97%;
        /* display: flex; */

    }
    .inputcontainer{
        /* background-color: rebeccapurple; */
        margin-top: 2%;
        width: 98%;
    }
    .formtag{
        /* background-color: red; */
        padding-left: 3%;
        padding-right: 3%;
    }
    .formheader{
        display: none;
    }
    .Payment_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        /* background-color: wheat; */

        height: fit-content;
        /* max-height: max-content; */
        /* padding-bottom: 10px; */
        width: 100%;
    }
    .picxdiv{
        width: 100%;
        /* background-color: yellowgreen; */
        display: flex;
        justify-content: center;
    }
    .pictext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        width: 90%;
        margin-bottom: 10%;
        height: 60%;
        /* width: 100%; */
    }
    .textparagraph{
        margin-top: 2%;
        font-size: 18px;
    }
    .Payment_text{
        margin-top: 5%;
        /* background-color: aliceblue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    
    .Payment_h3{
        width: 100%;
        font-size: 35px;
    }
    .rows1 {
        /* background-color: aliceblue; */
        display: flex;
        justify-content: center;
        width: 100%;
        /* align-items: center; */

    }
    
    .Payment_text{
        width: 100%;
        text-align: center;
        /* margin-bottom: 10%; */
    }
    .Payment_form {
        margin-top: 0%;
        width: 100%;
        padding-top: 7%;
    }
    .formcont{
        display: flex;
        flex-direction: column;
    }
    .twoinput{
        display: flex;
        flex-direction: column;
    }
    .inputconts{
        width: 99%;
        margin-top: 1%;
        
    }
    .three {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }
    /* .inputcontainer {
        width: 100%;
        margin-top: 1%;
    } */
    .summary {
        margin-top: 5%;
        /* background-color: red; */
        
    }
    .btn {
        margin-top: 5%;
    }
    .paymentinfo{
        margin-top: 5%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .verify {
        margin-top: 5%;
    }
    .aticlescont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .growth {
        margin-top: 5%;
    }
    .growthimg {
        width: 150px;
    }
    .dash {
        height: fit-content;
        /* background-color: gold; */
        width: 95%;
        padding-bottom: 5%;
    }
    
    .cardz{
        /* background-color: yellowgreen; */
        width: 100%;
    }
    .pg {
        line-height: 16px;
        text-align: center;
    }

    .unordered li {
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        margin-left: -5px;
    }

    .aticlesconttext p span, .pg span {
        font-weight: bold;
    }
    .cardz {
        /* background-color: red; */
        height: 40px;
        width: 80%;
    }
    .aticlesconttext,.pg{
        text-align: left;
        /* background-color: red; */
        width: 94%;
        font-size: 14px;
        padding-left: 3%;
        padding-right: 3%;

    }
    .pg{
        margin-left: -2%;
    }
    .ul {
        line-height: 20px;
    }
    li {
        /* background-color: aqua; */
        margin-left: 5%;
        font-size: 14px;
    }
    .card1{
        /* width: ; */
        /* background-color: rebeccapurple; */
        height: 20px;
    }
    .fte {
        /* background-color: rebeccapurple; */
        height: 80px;
    }
    .foot {
        height: fit-content;
    }
    .ftcont{
        width: 100%;
        /* background-color: blue; */
    }
    .radiopg{
        font-size: 13px;
        /* text-align: center; */
        /* background-color: red; */
        width: 100%;
        margin-left: 1%;
    }
    .order{
        /* background-color: yellowgreen; */
        width: 97%;
        height: 50px;
    }
    .summaries{
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: vio/let; */
        padding-left: 2%;
        padding-right: 2%;
    }
    .btn {
        font-size: 15px;
    }
    .transact{
        display: none;
    }
    
    .dashheader{
        display: flex;
        /* flex-direction: column; */
        align-items: flex-start;
        /* background-color: aqua; */
        height: fit-content;
        padding-left: 5%;
        padding-right: 2%;
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    .check{
        /* padding-left: 8%; */
        /* background-color: yellowgreen; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .yes {
        padding-left: 5%;
    }
    .twototal{
        padding-left: 9%;
        font-size: 15px;
    }
    .verify{
        display: none;
    }
    .subtotal,.total{
        display: none;
        background-color: yellow;
    }
    .fthidden {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* justify-content: center; */
        /* background-color: rebeccapurple; */
        width: 95%;
    }
    .packagehidden {
        margin-left: 5%;
        font-size: 15px;
    }
    .foot {
        /* background-color: red; */
        width: 95%;
    }
    h2 {
        font-size: 16px;
    }
    .all {
        /* background-color: red; */
        margin-top: 1%;
        font-size: 14px;
    }

    .PayImg {
        width: 60%;
    }

    .PaymentText {
        flex-direction: column;
        align-items: center;
    }

    .Pay_art {
        width: 90%;
        margin-bottom: 15px;
    }

    .Paytext {
        width: 140%;
        /* background-color: #fff; */
        text-align: center;
    }

    .Paytext h1 {
        width: 100%;
    }
    .info {
        line-height: 23px;
        margin-bottom: 5%;
    }
    .ft5 {
        display: flex;
        flex-direction: column;
        /* background-color: tomato; */
    }
    
    .footpg{
        width: 95%;
    }
    .formfootpg{
        /* background-color: aqua; */
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        line-height: 20px;
        font-size: 15px;
    }
    .get{
        display: flex;
        flex-direction: column;
    }
    
    .subtotalhidden{
        padding-bottom: 2%;
    }
    .verifyhidden{
        display: flex;
        /* align-items: center; */
        /* background-color: red; */
        padding-bottom: 2%;
    }
    .ft5{
        display: flex;
        flex-direction: column;
        /* background-color: yellow; */
    }
    
    .get {
        display: flex;
        flex-direction: column;
    }
    .get1{
        margin-top: 10%;
        /* background-color: red; */
    }
    .get2 {
        margin-top: 10%;
    }
    .get3{
        margin-top: 10%;
    }
    .place{
        width: 80%;
        height: 50px;
    }
    .futers {
        /* height: 20px; */
        /* background-color: ; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;
    }

    .Pay_copy {
        margin-bottom: 0px;
        text-align: center;
    }
    .formfootpopixcdcd{
        width: 50%;
        margin-right: 20%;
    }
}
